body{
    background-color: #D3D3D3
}

#allBoxes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    
}

.box {
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    width: 100px;
    height: 100px;
    margin: 5px;
    padding: 5px;
    background-color: #D3D3D3;
    color: black;
    font-size: 50px;
    font-family: "Lucida Console", monospace;
    border: 5px solid #444444;
}

.row{
    display: flex;
    flex-direction: row;
}


#keyboardAll{
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    gap: 5px;
}

.keyboard{
    font-size: 1.5rem;
    font-weight: 700;
    padding: .5rem;
    margin: 0 2px;
    cursor: pointer;
    text-transform: uppercase;
    width: 50px;
    height: 80px;
    border-radius: 8px;
    border: 0px solid;
}

#addButton{
    font-size: 1rem;
    font-weight: 700;
    padding: .5rem;
    margin: 0 2px;
    cursor: pointer;
    text-transform: uppercase;
    width: 80px;
    height: 80px;
    border-radius: 8px;
    border: 0px solid;
}

#wordInput{
    display: none;
}

#shakeDiv{
    height: 100px;
    width: 100px;
    background: black;
    color:white;
}

@keyframes shake{
    0% { transform: translateX(0); }
    20% { transform: translateX(-5px); }
    40% { transform: translateX(5px); }
    60% { transform: translateX(-5px); }
    80% { transform: translateX(5px); }
    100% { transform: translateX(0); }
}

.shake{
    animation: shake 0.5s ease-in-out;
}

@keyframes showAndFadeOut{
    0%{
        opacity: 0;
        visibility: visible;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        visibility: hidden;
    }
}

#flashBox{
    width: 200px;
    background-color: black; /* Red box to show "You Lost!" */
    color: white;
    text-align: center;
    line-height: 125px;
    font-size: 50px;
    opacity: 0; /* Start with it hidden */
    visibility: hidden; /* Initially hidden */
    display: none; /* Hide it by default */
    animation: showAndFadeOut 10s forwards; /* Animation */

    position: fixed; /* Fixed to the viewport */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Offset to truly center */
    z-index: 1000;
    border-radius: 15px;
    font-family: "Lucida Console", monospace;

}
/*
.flip{
    animation: flipBox .5s forwards;
}
*/
@keyframes flipBox{
    0%{
    transform: rotateX(0);
    }
    45%{
        transform: rotateX(90deg);
    }
    55%{
        transform: rotateX(90deg);
    }
    100%{
    transform: rotateX(0)
    }
}

#flipBox{
    width: 100px;
    height: 100px;
    background-color: black;
    visibility: hidden;
    /*animation: flipBox .5s ease forwards;*/
}


/*
.bounce{
    animation: bounceBox .5s forwards;
}*/

@keyframes bounceBox{
    0%{
        transform: scale(1)
    }
    50%{
        transform: scale(1.1)
    }
    100%{
        transform: scale(1)
    }
}

#bounceBox{
    margin: 10px;
    width: 100px;
    height: 100px;
    background-color: pink;
    visibility: hidden;
    /*animation: bounceBox .5s ease forwards;*/
}